{% extends 'ors/Base.html' %}
{%load static %}
<link href="{%static 'ors/css/style.css'%}" rel="stylesheet">
{%block title%}
<title>Home</title>
{%endblock%}

{%block body%}
<div class="container" style="margin-top:90px; margin-bottom:80px">
    {%include 'ors/Header.html'%}
    <h1>Welcome to ORS APP</h1>
    <form action="{%url 'GETM'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label">Enter Roll Number to find Marksheet</label>
            <input class="form-control" type="text" name="rn" value="" placeholder="Rollno">

        </div>
        <input type="submit" value="Search" class="btn btn-info">

    </form>

</div>
{%endblock%}